/* float 속성 해제 */
.clearfix{
	clear: both;
}

/*슬라이드*/
.slick-prev {
	left:5% !important;
	z-index: 1;
}
.slick-next {
	right: 5% !important;
	z-index: 1; 
}
.slick-prev:before {	
	font-size:50px !important;
	color: #292727 !important;
	
}
.slick-next:before {
	font-size:50px !important;	
	color: #292727 !important;
}
.slide_div img{
	margin: auto;
}
.slide_div_wrap{
	padding: 15px 0 15px 0;
    background: #e6e9f6;
}
.image_wrap img{
	max-width: 80%;
	max-height:80%;
    height: auto;
    display: block;
	margin: auto;    
}

/* 상품 평점순 노출 관련 태그 */
.ls_wrap{
   
}
.ls_div_content{
	width: 50%;
    margin: auto;
    height: 275px;
    border: 1px solid #dadada;
}
.image_wrap{
	width: 80%;
    height: 60%;
    margin: auto;
    padding: 5% 0 5% 0;
    display: flex;
    align-items: center;    
}
.ls_category{
	text-align: center;
    font-size: 13px;
    color: #3e74ab;
}
.ls_rating{
	text-align: center;
    font-size: 13px;
    color: #e15b6e;
}
.ls_bookName{
	text-align: center;
    color: #333;
    font-size: 15px;
    font-weight: bold;
}
.ls_div_subject{
	font-weight: bold;
	font-size: 26px;
	padding-bottom: 10px;
}

